:root {
  --font-size: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

body {
  margin-top: 0;
  text-align: center;
  background-color: black;
  font-family: 'Raleway', sans-serif;
  font-size: var(--font-size);
  background: #f6f6f6;
}

a {
  text-decoration: none;
}

.navigation {
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  padding: 5px;
  width: 100%;
}

.navigation a {
  color:white;
  font-weight: 300;
  padding: 15px 15px 10px;
  text-transform:uppercase;
  box-sizing: content-box;
}

.logo {
  font-size: 1.5em;
  font-family: 'Nunito';
  font-weight:400;
}

.backHome {
  
  font-size: 0.8em;
  font-weight:400;
  border: 1px solid;
  margin: 5px;
}

h1 {
  text-transform: uppercase;
  font-size: 1.5em
}

h2 {
  font-size: 1em;
  color:#FCA311;
}

.engine {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: top;
  width: 60%;
  margin:5% auto;
  height: 60vh;
}

.grid {

}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.section {
  width:90%;
  height:20vh;
  margin:5vh auto 5vh auto;
  padding:25px;
  font-size:1em;
  border:1px solid;
  border-color: #777;
  border-bottom: 0;
  border-right: 0;
  text-align:left;
  display: inline-block;
  vertical-align:top;
  background: #f8f8f8;
}

.categories select {
  border-radius: 25px;
  border: 2px solid #04213d;
  height:52px;
  padding:5px 15px 5px 10px;
  font-size:0.8em;
  font-family: 'Raleway', sans-serif;
}

.button {
  border: 2px solid #04213d;
  border-radius: 25px;
  background-color: #04213d;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
}

.button:active, .button:hover {
  background-color: #fca311;
  border-color:#fca311;
  color:black;
}


footer {
  background:black;
  color:white;
  padding: 15px 0;
  width: 100%;
  position: fixed;
  bottom: 0%;
}

footer p {
  padding:0px;
}

@media (max-width: 360px) {
  :root {
    --font-size: 14px;
  }

  h1 {
    margin: 0;
  }

  .engine {
    width: 100%;
    height: 80vh;
  }

  .section {
    padding: 10px;
  }

  .categories {
    position: fixed;
    justify-content: space-between;
    bottom: 0%;
  }

  .categories select {
    border-radius: 0;
    border: 2px solid #04213d;
    flex-shrink: 1; 
    height:52px;
    padding:5px 15px 5px 10px;
    font-size:0.8em;
    font-family: 'Raleway', sans-serif;
    width: 50vw;
  }
  
  .button {
    border-radius: 0;
    background-color: #04213d;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    width: 50vw;
  }
  
  .button:active, .button:hover {
    background-color: #fca311;
    border-color:#fca311;
    color:black;
  }

  footer {
    height: 18vh;
    position: initial;
    bottom: 0%;
  }
}